<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/css/main.css">
    <% if (page === "login") { %>
        <link rel="stylesheet" href="/css/login.css">
    <% } %>
    <% if (page === "tirage") { %>
        <link rel="stylesheet" href="/css/tirage.css">
    <% } %>
    <% if (page === "admin") { %>
        <link rel="stylesheet" href="/css/admin.css">
    <% } %>
    <title>Secr-IT Santa</title>
</head>
<body class="container">